= form_for @post do |f|
  .card
    .card-body
      - if @post.errors.any?
        #error_explanation
          %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
          %ul
            - @post.errors.full_messages.each do |message|
              %li= message

      .field.d-flex.flex-column
        = f.label :title, class: "block"
        = f.text_field :title, class: "mb-4 border border-secondary"
        = f.rich_text_area :content, class: "mb-4 border border-secondary"
      .actions
        = f.submit 'Save'
